.form_main_div{
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
}
.inputs_div{
     color: black;
     display: flex;
     flex-direction: column;
     margin-top: 20px;
     padding: 20px 5px;
}
.input{
    color: black;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;  
}
