.main-div{
    border: 3px solid black;
    border-radius: 15px;
    margin-top: 20px;
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    
}
.form_main_div{
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
}
.form_title{
    display: flex;
    justify-content: center;
}

.inputs_div{
    /* border: 3px solid black;
     border-radius: 15px; */
     display: flex;
     flex-direction: column;
     margin-top: 20px;
     padding: 20px 5px;
}
.input{
    border: 2px solid black;
    border-radius: 4px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
