.main_div{
    border: 3px solid black;
    border-radius: 15px;
    margin-top: 20px;
    padding: 10px 0px;
    display: flex;
    flex-direction: column;    
}
.title{
    display: flex;
    justify-content: center;
}