.main_div{

    margin-top: 20px;
    padding: 10px 0px;
    display: flex;
    flex-direction: column;    
}
.title{
    display: flex;
    justify-content: center;
}

.input{

    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
#withDraw_btn{
    margin: 0px 20px;
}