@import './base/components/Header.css';
@import './base/components/BankApplication.css';
@import './base/components/AccountForm.css';
@import './base/components/Show.css';
@import './base/components/withDrawAmount.css';
@import './base/components/deposit.css';
@import './base/components/Transactions.css';
@import './base/components/showDepositAmount.css';
@import './base/components/showWithDrawsAmount.css';



.main_div{
    border: 3px solid black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 20px;
}