@import './base/components/Header.css';
@import './base/components/BankApplication.css';
@import './base/components/AccountForm.css';
@import './base/components/Show.css';
@import './base/components/withDrawAmount.css';
@import './base/components/deposit.css';
@import './base/components/Transactions.css';
@import './base/components/showDepositAmount.css';
@import './base/components/showWithDrawsAmount.css';

body{
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3) ),url('/images/bg.jpg');
    background-attachment: fixed;
    font-family: sans-serif;
    color: 	#a6a6a6	;
    background-size: cover;
}
